<body id='aboutus'>
  <div id='about'>
    <h1 class='headerFont'>About Us</h1>
    <p>Join the FoodFind community! We created this site to help those who never know what they want to eat.
      FoodFind aims to make finding the perfect restaurant match fun and enjoyable. Come and browse through
      the options near you, while sharing your experience with others. Check out FoodFind and discover what
      there is to offer near you! </p>
  </div>
</body>
