
<div>
  <div id="map">

    </div>

    <hr>
    <% if session[:business_id] != nil %>
    <img src="<%= @random %>" width='800px' height='800px'/>
    <h1><%= @business["name"]%></h1>
    <h3><%= @business["location"]["address1"]%></h3>
    <% end %>
</div>
