<h1>SEARCH IS HERE</h1>
<%= javascript_include_tag('searchBar.js')%>

<!-- <div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div> -->
<div class="">
  <input id="searchTextField" class="controls" type="text" placeholder="Enter Your Address">
  <div id="map"></div>
</div>
