/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  height: 100%;
}

.group-form {
  margin-bottom: 5px;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}
#mainDiv {
  height: 550px;
}
/*.invisible {
  overflow: auto;
}*/

#searchDiv {
  margin-top: 20%;

}

.alert {
  color: red;
  font-weight: bold;
  margin-top: 1px;
  margin-bottom: 1px;
}

.modal {
  display: none;
  position: absolute;;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#image {
  display: center;
  margin-left: 20%;
}

#like-dislike {
  margin-left: 45%;
}

#foodResult {
  background: url('woodtable.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#foodImage {
   border: 5px solid black;
}

#title {
  font: 40px Jazz LET, fantasy;
  color:white;
}

.appendingImg {
  border: 5px solid black;
  width: 15%;
  height: 15%;
}

.dislike {
  font-size: 30px;
  width: 50px;
  margin-left: 0%;
}

.like {
  font-size: 30px;
  width: 50px;
  margin-left: 5%;
}
#foodTitle {
  font: 50px Chalkduster, fantasy;
  color:white;
  margin-left:10px;
}

#results {
  margin: 10px;
  padding: 5px;
  color: white;
  font-family: Optima, sans-serif;
}

#resultMap {
  position: relative;
  width: 80%;
  height: 700px;
}

#mapDiv {
  margin: 10px;
  margin-left: 20%;
}
